<div id="<%= dom_id job_application %>">
            <tr class="text-xs bg-gray-50">
              <td class="py-5 px-6 font-medium"><%= job_application.apply_date %></td>
              <td class="font-medium"><%= job_application.job_role %></td>
              <td class="font-medium"><%= job_application.company_name %></td>
              <td class="font-medium">Monthly</td>
            </tr>
           </div>